<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<font face="verdana">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<div class="navbar-header" 	style="background-color: #42516B">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left" style="background-color: #42516B"><i class="fa fa-home fa-lg" style="color: #FFBB40"></i></a>
			<a class="navbar-brand" style="color:#ffffff;">Activity</a>
			</div>
		</div>
	</div>
</font>
</header>
 
<section class="content" style="background-color: #42516B; height:80vh" >
	<div class="container" >
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-2" style="width:75px"><img src="./img/icon.jpg" width="50" height="50"></div>
			<div class="col-xs-4" style="color:white; width:50vw;"><font face="verdana">Run 5 miles!</font><br><span style="font-size:0.8em"><font face="verdana">YOU JUST CREATED A GOAL</font></span></div>
			<div class="col-xs-1" style="color:white;">
				<i class="fa fa-times-circle fa-lg" style="padding-top: 16px;"></i>
			</div>
		</div>
		<hr width="90%">
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-2" style="width:75px"><img src="./img/icon.jpg" width="50" height="50"></div>
			<div class="col-xs-4" style="color:white; width:50vw;"><font face="verdana">XXXX is now following you</font></div>
			<div class="col-xs-1" style="color:white;">
				<i class="fa fa-times-circle fa-lg" style="padding-top: 16px;"></i>
			</div>
		</div>
		<hr width="90%">
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-2" style="width:75px"><img src="./img/icon.jpg" width="50" height="50"></div>
			<div class="col-xs-4" style="color:white; width:50vw;"><font face="verdana">Run 5 miles!</font><br><span style="font-size:0.8em"><font face="verdana">YOU JUST CREATED A GOAL</font></span></div>
			<div class="col-xs-1" style="color:white;">
				<i class="fa fa-plus-square fa-lg" style="color: #FFBB40; padding-top: 16px;"></i>
			</div>
		</div>
		<hr width="90%">
	</div>
</section>

