<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="navbar-header">
		<a href="" class="navbar-brand nav-pull-left"><span class="glyphicon glyphicon-home"></span></a>
		<a class="navbar-brand">Activity</a>
	</div>
</header>

<section class="content" style="background-color: #42516B; height:90vh" >
	<div class="container" >
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-2" style="width:75px"><img src="/Projects/socialgym/public/img/icon.jpg" width="50" height="50"></div>
			<div class="col-xs-4" style="color:white; width:50vw;">Run 5 miles!<br><span style="font-size:0.8em">YOU JUST CREATED A GOAL</span></div>
			<div class="col-xs-1" style="color:white;">x</div>
		</div>
		<hr width="90%">
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-2" style="width:75px"><img src="/Projects/socialgym/public/img/icon.jpg" width="50" height="50"></div>
			<div class="col-xs-4" style="color:white; width:50vw;">XXXX is now following you</div>
			<div class="col-xs-1" style="color:white;">x</div>
		</div>
		<hr width="90%">
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-2" style="width:75px"><img src="/Projects/socialgym/public/img/icon.jpg" width="50" height="50"></div>
			<div class="col-xs-4" style="color:white; width:50vw;">Run 5 miles!<br><span style="font-size:0.8em">YOU JUST CREATED A GOAL</span></div>
			<div class="col-xs-1" style="color:white;">x</div>
		</div>
		<hr width="90%">
	</div>
</section>
