<section style="background-color:black">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<div>
		<div class="addGoal" style="margin:50px 0 10px 0;height:50%;">
			<div class="topPanel">
				<div class="row" style="margin: 0 30px; padding: 1em;">
					<div class="col-xs-4" style="width:20%"><i class="fa fa-times fa-lg"></i></div>
					<div class="col-xs-4 center" style="width:60% "><font face="verdana">Add Goal</font></div>
					<div class="col-xs-4 right" style="width:20%"><i class="fa fa-check-circle fa-lg" style="color: #FFBB40"></i></div>
				</div>
			</div>
			<div class="textbox" style="background-color:white; color:gray; margin:0 43px; height: 100px; padding: 5px 5px 5px 10px;">
				<span style="color: lightgray"><font face="verdana">Squat 30 times</font></span>
			</div>
		</div>
		<div class="Suggestions" style="style="margin:0 30px; padding-bottom: 50px; height:50%>
			<div class="center" style="color:white"><font face="verdana">Suggestions</font></div>
			<div class="borderbox center">
				<p><font face="verdana">50 PUSH UPS</font></p>
			</div>
			<div class="borderbox center">
				<p><font face="verdana">8 MINUTES STRETCHING</font></p>
			</div>
			<div class="borderbox center">
				<p><font face="verdana">30 BENCH PRESS</font></p>
			</div>
			<div class="private center">
				<p><font face="verdana">Private</font><i class="fa fa-stop fa-lg" style="color: #FFBB40; margin: 0px 0 0 5px;"></i> <i class="fa fa-stop fa-lg" style="font-color: white"></i></p>
			</div>
		</div>
	</div>
	<div class="center" style="height:210px; background-color:white; color:black"><font face="verdana">This is where the keyboard is</font></div>
</section>
