<style>
.modal-word {
 color : black;

}
</style>

<div id="myModal"  class="modal fade" role="dialog">
      <div class="modal-dialog" >
        <div class="modal-content" >

          <div class="modal-header" style="background:#536086">
            <h4 class="modal-title title" align="center" id="myModalLabel"><span class="glyphicon glyphicon-flag"></span>&nbsp;Add Goal</h4>
          </div>
          <div class="modal-body">
		  
	     	<h5 class="modal-word"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Describe the goal...</h5>
	        <textarea id="input-goal" class="form-control" rows="1" placeholder="Ex: Run 5 miles a day"></textarea>
       	  
			<div style="padding-top:10px">
				<p><font class="modal-word" face="verdana"><span class="glyphicon glyphicon-lock"></span>&nbsp;Set Private</font>&nbsp;<input type="checkbox"></p>
			</div>
						
			<hr> 	
			
			<div align="center" class="Suggestions" style="style="margin:0 30px; padding-top: 50px; height:50%>
				<h4 style="color:grey">Suggestions...</h4>
				<div class="borderbox center">
					<button type="button" style="width:400px"  class="btn btn-default modal-word" value="50 PUSH UPS"><div align="left"><span class="glyphicon glyphicon-plus"></span>&nbsp;50 PUSH UPS</div></button>
				</div>
				<div class="borderbox center">
					<button type="button" style="width:400px"  class="btn btn-default modal-word" value="8 MINUTES STRETCHING"><div align="left"><span class="glyphicon glyphicon-plus"></span>&nbsp;8 MINUTES STRETCHING</div></button>
				</div>
				<div class="borderbox center">
					<button type="button" style="width:400px"  class="btn btn-default modal-word" value="30 BENCH PRESS"><div align="left"><span class="glyphicon glyphicon-plus"></span>&nbsp;30 BENCH PRESS</div></button>
				</div>				
				
				
				
				</div>  

		</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->