<section>
	<div style="background-color:gray;">
		<div class="addGoal" style="margin:30px 30px 20px; background-color:salmon; height:50%;">
			<div class="topPanel">
				<div class="row" style="margin: 0 30px; padding: 1em;">
					<div class="col-xs-4" style="background-color:red; width:20%">X</div>
					<div class="col-xs-4 center" style="background-color:orange; width:60% ">Add Goal</div>
					<div class="col-xs-4 right" style="background-color:yellow; width:20%">Check</div>
				</div>
			</div>
			<div class="textbox" style="background-color:white; color:gray; margin:0 43px; height: 100px;">
				<p>Squat 30 times</p>
			</div>
		</div>
		<div class="Suggestions" style="background-color:#182831; margin:0 30px; padding-bottom: 50px; height:50%">
			<div class="center" style="color:white">Suggestions</div>
			<div class="borderbox center">
				<p>50 PUSH UPS</p>
			</div>
			<div class="borderbox center">
				<p>8 MINUTES STRETCHING</p>
			</div>
			<div class="borderbox center">
				<p>30 BENCH PRESS</p>
			</div>
			<div class="private center">
				<p style="color:white;">Private 'Slider'</p>
			</div>
		</div>
	</div>
	<div class="center" style="height:210px; background-color:white">This is where the keyboard is</div>
</section>
