<section>
	<div style="background-color:gray;">
		<div class="addProgress" style="margin:30px 30px 20px; background-color:salmon; height:50%;">
			<div class="topPanel">
				<div class="row" style="margin: 0 30px; padding: 1em;">
					<div class="col-xs-4" style="background-color:red; width:20%">X</div>
					<div class="col-xs-4 center" style="background-color:orange; width:60% ">Add Progress</div>
					<div class="col-xs-4 right" style="background-color:yellow; width:20%">Check</div>
				</div>
			</div>
			<div class="textbox" style="background-color:white; color:gray; margin:0 43px; height: 100px;">
				<p>What did you do? e.g. 50 push ups.</p>
			</div>
			<div class="right" style="margin:0 43px;">
			camera
			</div>
		</div>
		<div class="currentProgress" style="background-color:#182831; margin:0 30px; padding-bottom: 50px; height:50%">
			<div class="center" style="color:white">Recent Progress</div>
			<div class="borderbox center">
				<p>15 PUSH UPS</p>
			</div>
			<div class="borderbox center">
				<p>14 PUSH UPS</p>
			</div>
			<div class="borderbox center">
				<p>35 PUSH UPS!</p>
			</div>

		</div>
	</div>
	<div class="center" style="height:210px; background-color:white">This is where the keyboard is</div>
</section>