<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<font face="verdana">
	<div class="navbar-header" 	style="background-color:#6589a3">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left"><span class="glyphicon glyphicon-cog"></span></a>
			<a class="navbar-brand" style="color:#ffffff;">Community</a>
			<a href="" class="navbar-brand nav-pull-right"><span class="badge">42</span></a>
			</div>
		</div>
	</div>
</font>
</header>

<section class="content">
	<div class="searchbar">
	<form role="form">
		<div class="controls">
			<input class="form-control input-sm" type="text" placeholder="search goals and people">
		</div>
	</form>
	</div>
 
	<div class="container">
		<div class="row">
			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-4">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8">
							<h4><font face="verdana">Name</font></h4>
							<p><font face="verdana">10 hours ago</font></p>
						</div>
					</div>
					<p><font face="verdana">Just ran 6.7 miles and feeling great!</font></p>
					<p><strong><font face="verdana">#Run 5 miles</font></strong></p>
					<div class="row">
						<div class="col-xs-12 comment">
							<div class="well well-sm" style="background-color:#6589a3; color:gray;">
								Leave a comment ... ...
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-4">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8">
							<h4><font face="verdana">Name</font></h4>
							<p><font face="verdana">10 hours ago</font></p>
						</div>
					</div>
					<p><font face="verdana">Just ran 6.7 miles and feeling great!</font></p>
					<p><strong><font face="verdana">#Run 5 miles</font></strong></p>
					<div class="row">
						<div class="col-xs-12 comment">
							<div class="well well-sm" style="background-color:#6589a3; color:gray;">
								Leave a comment ... ...
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-4">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8">
							<h4><font face="verdana">Name</font></h4>
							<p><font face="verdana">10 hours ago</font></p>
						</div>
					</div>
					<p><font face="verdana">Just ran 6.7 miles and feeling great!</font></p>
					<p><strong><font face="verdana">#Run 5 miles</font></strong></p>
					<div class="row">
						<div class="col-xs-12 comment">
							<div class="well well-sm" style="background-color:#6589a3; color:gray;">
								Leave a comment ... ...
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-4">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8">
							<h4><font face="verdana">Name</font></h4>
							<p><font face="verdana">10 hours ago</font></p>
						</div>
					</div>
					<p><font face="verdana">Just ran 6.7 miles and feeling great!</font></p>
					<p><strong><font face="verdana">#Run 5 miles</font></strong></p>
					<div class="row">
						<div class="col-xs-12 comment">
							<div class="well well-sm" style="background-color:#6589a3; color:gray;">
								Leave a comment ... ...
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-4">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8">
							<h4><font face="verdana">Name</font></h4>
							<p><font face="verdana">10 hours ago</font></p>
						</div>
					</div>
					<p><font face="verdana">Just ran 6.7 miles and feeling great!</font></p>
					<p><strong><font face="verdana">#Run 5 miles</font></strong></p>
					<div class="row">
						<div class="col-xs-12 comment">
							<div class="well well-sm" style="background-color:#6589a3; color:gray;">
								Leave a comment ... ...
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
<font face="verdana">
	<div class="navbar-footer" style="color:#ffffff;">
		<div class="container">
			<div class="row">
			<div class="col-xs-4 footer-tab"><i class="fa fa-dribbble fa-2x"></i></div>
			<div class="col-xs-4 footer-tab" style="background: #273E51"><i class="fa fa-users fa-2x"></i></div>
			<div class="col-xs-4 footer-tab" style="background: #273E51"><i class="fa fa-calendar fa-2x"></i></div>
			</div>
		</div>
	</div>
</font>
</nav>