<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="navbar-header">
		<a href="" class="navbar-brand nav-pull-left"><span class="glyphicon glyphicon-cog"></span></a>
		<a class="navbar-brand">Detail</a>
		<a href="" class="navbar-brand nav-pull-right"><span class="badge">42</span></a>
	</div>
</header>

<section class="content">
	<div class="firstHalf" style="background-color:red; height: 280px">
		<div class="head" style="background-color:orange; height: 20%; text-align:center">
			<h3 style="margin: 0; padding: 20px">Run 5 miles per day</h3>
		</div>
		<div class="running" style="background-color:salmon; height: 60%; text-align:center">
			<h3 style="margin: 0; padding: 50px">Image</h3>
		</div>
		<div class="row" style="background-color:saddlebrown; height: 20%">
			<div class="col-xs-4 right">
				<h3 style="margin: 0; ">50%<br/><span style="font-size: 0.5em">completed</span></h3>
			</div>
			<div class="col-xs-4 center">
				<h3 style="margin: 0; ">9<br/><span style="font-size: 0.5em">DAYS LEFT</span></h3>
			</div>
			<div class="col-xs-4 push">
				<h3 style="margin: 0; "><span class="glyphicon glyphicon-plus-sign"></span><br/><span style="font-size: 0.5em">TODAY</span></h3>
			</div>
		</div>
	</div>
	<div class="middleBar">
		<div class="container">
		<div class="row" style="height: 40px;">
			<div class="col-xs-4 center">
			<p>HOW ARE MY<br>FRIENDS DOING?</p>
			</div>
			<div class="col-xs-4 center">
			<p>PROGRESS CHART</p>
			</div>			
			<div class="col-xs-4 center">
			<p>FIND<br>SIMILAR PEOPLE</p>
			</div>
		</div>
		</div>
	</div>

	<div class="container" style="background-color:#638AA5;">
		<div class="title" style="color:white; font-weight:bold; height:50px; padding:1em">Moments</div>
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-4" style="color:white; width:70vw;">Run 5 miles!<br><span style="font-size:0.8em">YOU JUST CREATED A GOAL</span></div>
			<div class="col-xs-1" style="color:white;">x</div>
		</div>
		<hr width="90%">
		<div class="row news" style="height:20%; margin: 10px 15px">
			<div class="col-xs-4" style="color:white; width:70vw;">Run 5 miles!<br><span style="font-size:0.8em">YOU JUST CREATED A GOAL</span></div>
			<div class="col-xs-1" style="color:white;">x</div>
		</div>
		<hr width="90%">
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<div class="row" style="color:#fff;">
		  <div class="col-xs-4 footer-tab">My Goals</div>
		  <div class="col-xs-4 footer-tab">Community</div>
		  <div class="col-xs-4 footer-tab">Events</div>
		</div>
	</div>
</nav>