<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header" 	style="background-color:#6589a3">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left"><span class="glyphicon glyphicon-cog"></span></a>
			<a class="navbar-brand" style="color:#ffffff;">Week</a>
			<a href="" class="navbar-brand nav-pull-right"><span class="badge">+</span></a>
			</div>
		</div>
	</div>
</header>

<section class="content">
<div class="weekEvents" style="background-color:#638AA5">
		<div class="container">
		<h4>Sunday</h4>
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p>Raquet<br>Ball<br><span style="font-size:0.8em">8:00-9:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Raquet<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p>Backet-<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Backet-<br>Ball<br><span style="font-size:0.8em">10:00-11:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Soccer<br><span style="font-size:0.8em">13:00-14:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Rock<br>Climb<br><span style="font-size:0.8em">14:00-15:00<span></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p>Volley-<br>Ball<br><span style="font-size:0.8em">17:00-17:40<span></p></div>
			</div>
		</div>
		</div>
		<hr>
		<div class="container">
		<h4>Monday</h4>
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p>Raquet<br>Ball<br><span style="font-size:0.8em">8:00-9:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Raquet<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p>Backet-<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Backet-<br>Ball<br><span style="font-size:0.8em">10:00-11:00<span></p></div>
			</div>
		</div>
		</div>
		<hr>
		<div class="container">
		<h4>Tuesday</h4>
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p>Raquet<br>Ball<br><span style="font-size:0.8em">8:00-9:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Raquet<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p>Backet-<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p>Backet-<br>Ball<br><span style="font-size:0.8em">10:00-11:00<span></p></div>
			</div>
		</div>
		</div>		
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="container">
		<div class="row" style="color:#fff;">
		  <div class="col-xs-4 footer-tab">My Goals</div>
		  <div class="col-xs-4 footer-tab">Community</div>
		  <div class="col-xs-4 footer-tab">Events</div>
		</div>
	</div>
</nav>