<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<font face="verdana">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<div class="navbar-header" 	style="background-color:#6589a3">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left" style="color: #A5BFD1"><i class="fa fa-chevron-left"></i> Month</a>
			<a class="navbar-brand" style="color:#ffffff;">Week</a>
			<a href="" class="navbar-brand nav-pull-right" style="color: #A5BFD1"><i class="fa fa-plus "></i></a>
			</div>
		</div>
	</div>
	</div>
</font>
</header>

<section class="content">
<div class="weekEvents" style="background-color:#638AA5">
		<div class="container">
		<h4><font face="verdana">Sunday</font></h4>
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Raquet<br>Ball<br><span style="font-size:0.8em">8:00-9:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Raquet<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></font></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Backet-<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Backet-<br>Ball<br><span style="font-size:0.8em">10:00-11:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Soccer<br><span style="font-size:0.8em">13:00-14:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Rock<br>Climb<br><span style="font-size:0.8em">14:00-15:00<span></font></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Volley-<br>Ball<br><span style="font-size:0.8em">17:00-17:40<span></font></p></div>
			</div>
		</div>
		</div>
		<hr>
		<div class="container">
		<h4><font face="verdana">Monday</font></h4>
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Raquet<br>Ball<br><span style="font-size:0.8em">8:00-9:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Raquet<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></font></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Backet-<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Backet-<br>Ball<br><span style="font-size:0.8em">10:00-11:00<span></font></p></div>
			</div>
		</div>
		</div>
		<hr>
		<div class="container">
		<h4><font face="verdana">Tuesday</font></h4>
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Raquet<br>Ball<br><span style="font-size:0.8em">8:00-9:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Raquet<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></font></p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Backet-<br>Ball<br><span style="font-size:0.8em">9:00-10:00<span></font></p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p><font face="verdana">Backet-<br>Ball<br><span style="font-size:0.8em">10:00-11:00<span></font></p></div>
			</div>
		</div>
		</div>		
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="navbar-footer" style="color:#ffffff;">
		<div class="container">
			<div class="row">
			<div class="col-xs-4 footer-tab" style="background: #273E51"><i class="fa fa-dribbble fa-2x"></i></div>
			<div class="col-xs-4 footer-tab" style="background: #273E51"><i class="fa fa-users fa-2x"></i></div>
			<div class="col-xs-4 footer-tab"><i class="fa fa-calendar fa-2x"></i></div>
			</div>
		</div>
	</div>
</nav>