<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<div class="navbar-header" 	style="background-color:#6589a3">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left" style="color: #A5BFD1"><i class="fa fa-chevron-left"></i> Detail</a>
			<a class="navbar-brand" style="color:#ffffff;">Friends Progress</a>
			</div>
		</div>
	</div>
</header>
<section class="content" style="background-color: #638AA5; height:515px" >
	<div class="FriendsProgress">
		<div class="title" style="color:white; font-weight:bold; height:50px; padding:1em">Steps Taken</div>
		<div class="row">
			<div class="col-xs-3" style="margin-right:10px; color:#A5BFD1">James</div>
			<div class="col-xs-5 center" style="width:70%; color:#638AA5">18</div>
		</div>
		<div class="row">
			<div class="col-xs-3" style="margin-right:10px; color:#A5BFD1">You</div>
			<div class="col-xs-5 center" style="width:60%; color:#638AA5;"><p style="fron-size:10px">15</p></div>
		</div>
		<div class="row">
			<div class="col-xs-3" style="margin-right:10px; color:#A5BFD1">Jane</div>
			<div class="col-xs-5 center" style="width:50%; color:#638AA5">13</div>
		</div>
		<div class="row">
			<div class="col-xs-3" style="margin-right:10px; color:#A5BFD1">Jennifer</div>
			<div class="col-xs-5 center" style="width:40%; color:#638AA5">12</div>
		</div>
		<div class="row">
			<div class="col-xs-3" style="margin-right:10px; color:#A5BFD1">Jack</div>
			<div class="col-xs-5 center" style="width:20%; color:#638AA5">5</div>
		</div>
	</div>

	<div id="finalSettings" class="setting" style="height: 170px">
		<div class="yellowBorder">Invite Friends</div>
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="navbar-footer" style="color:#ffffff;">
		<div class="container">
			<div class="row">
			<div class="col-xs-4 footer-tab"><i class="fa fa-dribbble fa-2x"></i></div>
			<div class="col-xs-4 footer-tab" style="background: #273E51"><i class="fa fa-users fa-2x"></i></div>
			<div class="col-xs-4 footer-tab" style="background: #273E51"><i class="fa fa-calendar fa-2x"></i></div>
			</div>
		</div>
	</div>
</nav>

