<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header" 	style="background-color:#6589a3">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left">Community</a>
			<a class="navbar-brand" style="color:#ffffff;">Find Friends</a>
			</div>
		</div>
	</div>
</header>

<section class="content">
	<div class="row">
	<div class="col-xs-4 center importFrom"><span class="glyphicon glyphicon-cog" style="font-size: 2.5em; margin: 5px"></span><br>FROM CONTACTS</div>
	<div class="col-xs-4 center importFrom"><span class="glyphicon glyphicon-cog" style="font-size: 2.5em; margin: 5px"></span><br>FROM FACEBOOK</div>
	<div class="col-xs-4 center importFrom"><span class="glyphicon glyphicon-cog" style="font-size: 2.5em; margin: 5px"></span><br>FROM TWITTER</div>
	</div>
	<hr style="height:2px; margin:1px; border:none;background-color:#B5C7D6;">
	<div class="container">
		<h4>Suggested Friends</h4>
		<div class="row" style="margin: 10px">
			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-3">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8" style="padding-right:0; margin-top: 0.5em">
							<h4 style="margin:0">FIRST NAME LAST</h4>
							<p style="margin:0">Just ran 6.7 miles and feeling great!</p>
							<p style="margin:0">10 hours ago</p>
							<p style="margin:0">#Run 5 miles</p>
						</div>
						<div class="col-xs-1" style="padding-left:0; font-size: 2em; padding-top:2em">+</div>
					</div>
					<hr style="margin-bottom:0">
				</div>
			</div>
			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-3">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8" style="padding-right:0; margin-top: 0.5em">
							<h4 style="margin:0">FIRST NAME LAST</h4>
							<p style="margin:0">Just ran 6.7 miles and feeling great!</p>
							<p style="margin:0">10 hours ago</p>
							<p style="margin:0">#Run 5 miles</p>
						</div>
						<div class="col-xs-1" style="padding-left:0; font-size: 2em; padding-top:2em">+</div>
					</div>
					<hr style="margin-bottom:0">
				</div>
			</div>
			<div class="col-sm-3 newscard">
				<div class="info">
					<div class="row">
						<div class="col-xs-3">
							<img src="./img/icon.jpg" alt="..." class="img-thumbnail">
						</div>
						<div class="col-xs-8" style="padding-right:0; margin-top: 0.5em">
							<h4 style="margin:0">FIRST NAME LAST</h4>
							<p style="margin:0">Just ran 6.7 miles and feeling great!</p>
							<p style="margin:0">10 hours ago</p>
							<p style="margin:0">#Run 5 miles</p>
						</div>
						<div class="col-xs-1" style="padding-left:0; font-size: 2em; padding-top:2em">+</div>
					</div>
					<hr style="margin-bottom:0">
				</div>
			</div>	

		</div>
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="navbar-footer" style="color:#ffffff;">
		<div class="container">
			<div class="row">
			<div class="col-xs-4 footer-tab">My Goal</div>
			<div class="col-xs-4 footer-tab">Community</div>
			<div class="col-xs-4 footer-tab">Events</div>
			</div>
		</div>
	</div>
</nav>