<section class="content" style="background-color:black">
<div class="filler" style="height:45vh"></div>
		<div class="menus">
			<div class="borderbox-tall center">
				<p>Make Private</p>
			</div>
			<div class="borderbox-tall center">
				<p>Edit Goal</p>
			</div>
			<div class="borderbox-tall center">
				<p>Declare Accomplished</p>
			</div>
			<div class="borderbox-tall center" style="height: 40px; background-color: white;">
				<p style="color:black;">Cancel</p>
			</div>
		</div>
</section>