<section class="content" style="background-color:black">
<div class="filler" style="height:45vh"></div>
		<div class="menus">
			<div class="borderbox-tall center">
				<p><font face="verdana">Make Private</font></p>
			</div>
			<div class="borderbox-tall center">
				<p><font face="verdana">Edit Goal</font></p>
			</div>
			<div class="borderbox-tall center">
				<p><font face="verdana">Declare Accomplished</font></p>
			</div>
			<div class="borderbox-tall center" style="height: 40px; background-color: white;">
				<p style="color:black;"><font face="verdana">Cancel</font></p>
			</div>
		</div>
</section>
 