<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="navbar-header">
		<a href="" class="navbar-brand nav-pull-left"><span class="glyphicon glyphicon-cog"></span></a>
		<a class="navbar-brand" style="color:#ffffff;"><font face="Trebuchet MS">Goals</font></a>
		<a href="" class="navbar-brand nav-pull-right"><span class="badge">42</span></a>
	</div>
</header>

<section class="content">
	<div class="firstHalf" style="background-color:red; height: 280px">
		<div class="head" style="background-color:#6589a3; height: 20%; text-align:center">
			<h3 style="margin: 0; padding: 20px; color:#ffffff;">Run 5 miles per day</h3>
		</div>
		<div class="running" style="background-color:#6589a3; height: 60%; text-align:center; color:#ffffff;">
			<h3 style="margin: 0; padding: 10px"><img src="./img/run.png" width="120"></img></h3>
		</div>
		<div class="row" style="background-color:#6589a3; height: 20%; color:#ffffff;">
			<div class="col-xs-4 right">
				<h3 style="margin: 0; text-align:right">50%<br/><span style="font-size: 0.5em">completed</span></h3>
			</div>
			<div class="col-xs-4 center">
				<h3 style="margin: 0; ">9<br/><span style="font-size: 0.5em">DAYS LEFT</span></h3>
			</div>
			<div class="col-xs-4 push">
				<h3 style="margin: 0; color: #FFBB40"><span class="glyphicon glyphicon-plus-sign"></span><br/><span style="font-size: 0.5em">TODAY</span></h3>
			</div>
		</div>
	</div>
	<div class="goal-list" style="background-color:#638AA5">
		<div class="container">
		<div class="row" style="height: 80px;">
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;">Meditation</p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;">Run 5<br>Miles</p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;">Lift 30</p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;">Stretch<br>8 mins</p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;">Ab Workout</p></div>
			</div>
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;">Muscle<br>Toning</p></div>
			</div>			
			<div class="col-xs-3">
			<div class="square"><p style="color:#ffffff;"><span class="glyphicon glyphicon-plus"></span></p></div>
			</div>
		</div>
		</div>
	</div>
</section>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="navbar-footer" style="color:#ffffff;">
		<div class="container">
			<div class="row">
			<div class="col-xs-4 footer-tab">My Goal</div>
			<div class="col-xs-4 footer-tab">Community</div>
			<div class="col-xs-4 footer-tab">Events</div>
			</div>
		</div>
	</div>
</nav>