<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<font face="verdana">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<div class="navbar-header" 	style="background-color:#6589a3">
		<div class="container">
			<div class="row">
			<a href="" class="navbar-brand nav-pull-left"><i class="fa fa-home fa-lg" style="color: #FFBB40"></i></a>
			<a class="navbar-brand" style="color:#ffffff;">Settings</a>
			</div>
		</div>
	</div>
</font>
</header>

<section class="content" style="background-color: #638AA5;" >
	<div id="shareSettings" class="setting" style="height:160px">
		<div class="title" style="color:white; font-weight:bold; height:50px; padding:1em"><font face="verdana">Share Settings</font></div>
		<div id="sub"><font face="verdana">Unlink</font> <i class="fa fa-facebook-square fa-2x" style="font-size: 1.6em"></i> </div>
		<div id="sub"><font face="verdana">Link to</font> <i class="fa fa-twitter-square fa-2x" style="font-size: 1.6em"></i></div>
	</div>
	<div id="generalSettings" class="setting">
		<div class="title" style="color:white; font-weight:bold; height:50px; padding:1em"><font face="verdana">Personal Settings</font></div>
		<div id="sub"><font face="verdana">Change Profile Picture</font></div>
		<div id="sub"><font face="verdana">Push Notifications</font></div>
		<div id="sub"><font face="verdana">Help Center</font></div>			
	</div>
	<div id="finalSettings" class="setting" style="height: 170px">
		<div class="filledButton" style="margin-top:2em"><font face="verdana">SEND FEEDBACK</font></div>
		<div id="logout"><font face="verdana">Log Out</font></div>
	</div>
</section>
 