<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
	<div class="navbar-header" style="float:none !important;">
		<a class="navbar-brand">Settings</a>
		<a href="" class="navbar-brand nav-pull-right">Done</a>
	</div>
</header>

<section class="content">
	<div id="shareSettings" class="setting">
		<h2>Share Settings</h2>
		<hr>
		<h3>Unlink Facebook</h3>
		<hr>
		<h3>Link to Twitter</h3>
	</div>
	<div id="generalSettings" class="setting">
		<h2>General Settings</h2>
		<hr>
		<h3>Change Profile Picture</h3>
		<hr>
		<h3>Push Notification</h3>
		<hr>
		<h3>Help Center</h3>		
	</div>
	<div id="finalSettings">
		<hr>
		<h3>Send Feedback</h3>
		<hr>
		<h3>Log Out</h3>	
	</div>
</section>
