/*
	navigation bar fixes
*/
.navbar-fixed-bottom {
	border-width: 0 0 0px;
}

.navbar-fixed-top {
	border-width: 0 0 0px;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-brand {
	display:inline-block !important;
	float: none !important;
}

.navbar-header {
	text-align: center;
	color: #ffffff;
	background-color: #638AA5;
}

.navbar-footer {
	text-align: center;
	color: #ffffff;
	background-color: #638AA5;
}

.nav-pull-left {
	position: absolute;
	left: 0;
	background-color: #6589a3;
}

.nav-pull-right {
	position: absolute;
	right: 0;
	background-color: #6589a3;
}

/*
	Footer navigation bar
*/
.footer-tab {
	padding:15px;
	text-align: center;
}


/*
	overall styles
*/

body {
	color: white;

}

section.content {
	margin-top: 50px;
	margin-bottom: 58px;
	overflow: hidden;
	background-color: #638AA5;
}

.container-full {
	padding: 0 !important;
	margin: 0 !important;
}

.center {
	text-align: center;
}

.right{
	text-align: right;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid #A5BFD1;
}




/*
	My Goals View
*/
.control-box {
	background-color: #ccc;
}

.counter {
	margin-top: 50px;
}


.col-xs-3 {
	padding-left: 5px;	
	padding-right: 5px;
}

.square {
	width: 100%;
	height: 100px;
	position:relative;
}


.square:hover {	background: #204C6B;}

.square p { padding-top:32px; text-align: center;}


.goal-desc {
	text-align: center;
	font-size: 12px;
	margin-right: 215px;
	padding-bottom: 50px;
}

.goal-list {
	background-color:#6589a3; 
	height: 250px;
	border-top-width:1px;
	border-top-color: #A5BFD1; 
	border-top-style: solid;
}

.middleBar {
	background-color:#6589a3; 
	height: 100%;
	border-top-width:1px;   
	border-top-color: #A5BFD1;
	border-top-style: solid;
	border-bottom-width:1px;   
	border-bottom-color: #A5BFD1; 
	border-bottom-style: solid;
}

.middleBar p {color:white; font-size:0.8em; padding-top:1em;}

.borderbox {color:white; font-size: 0.8em; border-style: solid; 
	border-color: white; color:gray; margin:10px 43px; height:2.5em;}

.borderbox p { color:white; padding: 0.5em 0}

.borderbox-tall {color:white; font-size: 0.8em; border-style: solid; 
	border-color: white; color:gray; margin:20px 43px; height:4em;}

.borderbox-tall p { color:white; padding: 0.9em 0 }


/*
	search feature
*/

.searchbar {
	padding: 3px 15px;
	background: #EEE;
}

.searchbar input {
	border-radius: 10px;
	text-align: center;
}

.searchbar form {
	position: relative;
}

.searchbar .controls:before {
	top: 0.5em;
	left: 0.5em;
	position: absolute;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f002";
}

/*
	Community View
*/

.newscard {
	padding: 0.5em 0.5em;
}

.newscard .info {
	background-color: #6589a3;
	border-radius: 5px;
	padding:0.5em;
	color: #ffffff
}

.newscard .info img{
	margin-left: 0.5em;
	margin-top: 0.5em;
}

/*.newscard .info .comment {
	padding: 1em;
}*/

/*Settings View */

.setting #sub {
	color: #B5C7D6;
	width: 80vw; height:50px; 
	padding-top: 1em; 
	margin-left: 3em; 
	border-bottom-width:1px;   border-bottom-color: #A5BFD1;    border-bottom-style: solid;
}

.setting #logout {
	color: #B5C7D6;
	padding: 1em 0; 
	margin:0 1em;
	border-bottom-width:1px; border-bottom-color: #A5BFD1; border-bottom-style: solid;
	border-top-width:1px;   border-top-color: #A5BFD1; border-top-style: solid;
}

#finalSettings {
	text-align: center;
}

/* Events - detail*/
.date {border-width:1px; border-style:solid;
margin-left:30px; padding: 1em 0; font-size:0.8em;
}

/*FriendsView */

.importFrom {height: 70px; font-size: 0.8em}

.FriendsProgress .row {margin: 10px 20px}
.FriendsProgress .col-xs-5 {background-color:skyblue; height:1.5em; width:70%}

.invite {	
	color: yellow;
	padding: 0.7em 0; 
	margin:2.5em 0.7em;
	border-bottom-width:1px; border-bottom-color: yellow; border-bottom-style: solid;
	border-top-width:1px;   border-top-color: yellow; border-top-style: solid;
}

.weekEvents hr {
	margin: 15px;
	border-top: 2px solid #A5BFD1;
}